.resourses {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.resourses__logo-zone {
  margin-top: 80px;
  margin-bottom: 217px;
  display: flex;
  width: 1100px;
  justify-content: space-around;
}

.resourses__logo {
  width: 270px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}
