.kaufman {
  padding-top: 90px;
  padding-bottom: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* width: 80%; */
  background-color: #1f1f1f;
  width: 100%;
  position: relative;
  overflow: hidden;
}
