.footer {
  background-color: #1f1f1f;
  color: #fff;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  min-height: 350px;
  box-sizing: border-box;
}
